@inherits LayoutComponentBase

<div class="guest-container container py-5">
    <div class="row justify-content-center">
        <div class="col-md-8 text-center">
            @* Misafirler sidebar görmeyecek, sadece içerik *@
            @Body
        </div>
    </div>
</div>